Source: smartiecoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@smartiecoin.org>
Uploaders: Holger Schinzel <holger@smartiecoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 pkg-config,
 libevent-dev,
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.smartiecoin.org/
Vcs-Git: git://github.com/SmartiesCoin/Smartiecoin.git
Vcs-Browser: https://github.com/SmartiesCoin/Smartiecoin

Package: smartiecoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 SMT is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. SMT uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Smartiecoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, smartiecoind, and the CLI tool
 smartiecoin-cli to interact with the daemon.

Package: smartiecoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 SMT is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. SMT uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Smartiecoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides smartiecoin-qt, a GUI for SMT based on Qt.

Package: smartiecoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 SMT is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. SMT uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Smartiecoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides smartiecoin-tx, a command-line transaction creation
 tool which can be used without a SMT daemon.  Some means of
 exchanging minimal transaction data with peers is still required.


